<h2>Liste des clients</h2>

<a routerLink="/clients/new" class="btn btn-primary">Ajouter un client</a>

<b-table class="table-hover">
   
        <tr class="b-head">
            <th>Numero</th> 
            <th>client</th>
            <th>Factures</th>
            <th>Montant total</th> 
            <th></th>
        </tr>
    
    
        <tr class="b-body" *ngFor="let client of clients">
            <td>{{client.id}}</td>
            <td>{{client.firstName}} {{client.lastName | uppercase}}</td>
            <td>
                <b-badge color="danger">{{client.invoices}}</b-badge>
                <!-- <span class="badge badge-danger">
                    {{ client.invoices }}
                </span> -->
            </td>
                                            <!-- min 1 avant la virgule , min 2 chi appres la virgle et max 2 chifrre apres la virgule-->
            <td>{{client.totalAmount | currency:"EUR":"symbol":"1.2-2":"fr"}}</td>
            <td>
                <a routerLink="/clients/{{ client.id }}" class="btn btn-primary btn-sm mr-1">
                    Modifier
                </a>
                <!-- <button class="btn btn-primary btn-sm mr-1">Modifier</button> -->
                <button class="btn btn-danger btn-sm mr-1">Supprimer</button>
            </td>
        </tr>
    
</b-table>