

<h2 *ngIf="!editMode">Creation d'un client</h2>
<h2 *ngIf="editMode">Modification d'un client</h2> 

<!-- 
  1) Pour gérer un formulaire dans Angular, il suffit d'un formulaire classique
  2) On peut déléguer la soumission du formulaire à une fonction avec (ngSubmit)
  3) ngSubmit n'existe que dans le FormsModule qu'il faudra donc importer
4) Une approche non standard peut être de se servir de [(ngModel)] (le Two Way
  databinding)
  5) L'approche standard est plutôt le "Template Driven Form" :
  5.1) On créé une référence de type ngForm sur le formulaire HTML
  5.2) On enregistre les champs auprès du formulaire avec ngModel
5.3) On créé une référence de type ngModel sur les inputs qu'on veut suivre
  5.4) On peut alors accéder à l'état et aux détails du ngForm ou des ngModel
  pour afficher de la validation
  5.5) Les différentes erreurs se trouvent la propriété .errors d'un ngModel

 -->


<form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)"> 

    <div class="form-group">
        <input type="text" 
                class="form-control" 
                name="firstName"    
                required    
                minlength="3"        
                placeholder="Prénom"
                ngModel

                #firstName="ngModel"
                [class.is-invalid]="
                    firstName.errors && (firstName.touched || clientForm.submitted)
                " />

                <div class="invalid-feedback" *ngIf="firstName.errors && (firstName.touched || clientForm.submitted)">
                    <span *ngIf="firstName.errors.required">Le prénom est obligatoire</span>
                    <span *ngIf="firstName.errors.minlength"> 
                        Le prénom doit contenir 3 caractères
                    </span>
                </div>
                
    </div>

    <div class="form-group">
        <input type="text" 
                class="form-control" 
                name="lastName" 
                placeholder="Nom de famille"
                ngModel
                required  
                minlength="3" 
                #lastName="ngModel"
                [class.is-invalid]="
                    lastName.errors && (lastName.touched || clientForm.submitted)
                "
                 />

                <div class="invalid-feedback" *ngIf="lastName.errors && (lastName.touched || clientForm.submitted)">
                    <span *ngIf="lastName.errors.required">Le nom est obligatoire</span>
                    <span *ngIf="lastName.errors.minlength"> 
                        Le nom doit contenir 3 caractères
                    </span>
                </div>

                
                
    </div>

    <div class="form-group">
        <input type="email" 
                class="form-control" 
                name="email" 
                required  
                minlength="10" 
                placeholder="email"
                ngModel

                #tartine="ngModel"
                [class.is-invalid]="
                    tartine.errors && (tartine.touched || clientForm.submitted)
                "
                
                 />

                <div class="invalid-feedback" *ngIf="tartine.errors && (tartine.touched || clientForm.submitted)">
                    <span *ngIf="tartine.errors.required">L'email' est obligatoire</span>
                    <span *ngIf="tartine.errors.minlength"> 
                        L'email' doit contenir10 caractères
                    </span>
                </div>
                
    </div>

    <div class="form-group">
        <input type="text" 
            class="form-control" 
            name="compagny" 
            placeholder="Entreprise"
            required
            minlength="2"
            ngModel 
            
            #choupi="ngModel"
            [class.is-invalid]="
                choupi.errors && (choupi.touched || clientForm.submitted)
                "/>

            <div class="invalid-feedback" *ngIf="choupi.errors && (choupi.touched || clientForm.submitted)">
                <span *ngIf="choupi.errors.required">L'entreprise doit est obligatoire</span>
                <span *ngIf="choupi.errors.minlength"> 
                   Au moins 2 caractères please
                </span>
            </div>
           
    </div>       

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>


</form>